img {
    display: flex;
    width: 15%;
    margin: 0 auto;
    border: 5px solid #0000FF;
}

h1, h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
    margin: 0 auto;
    width: 50%;
}

ul, li {
    text-align: center;
}

a {
    line-height: 32px;
}

video {
    display: flex;
    width: 50%;
    margin: 0 auto;
    border: 5px solid #0000FF;
}